<!DOCTYPE html>
<html ng-app="expensesApp">
	<head>
		<title>
			Expenses
		</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta http-equiv="content-language" content="en-gb" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="styles/layout.css" />
		<link rel="stylesheet" type="text/css" href="styles/jquery-ui.css" />
		<script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
		<script type="text/javascript" src="scripts/underscore-min.js"></script>
		<script type="text/javascript" src="scripts/angular.min.js"></script>
		<script type="text/javascript" src="scripts/date.js"></script>
		<script type="text/javascript" src="scripts/restangular.min.js"></script>
		<script type="text/javascript" src="scripts/expenses.js"></script>
	</head>
	<body ng-controller="ExpensesCtrl">
		<h1>Expenses</h1>
		
		<h2>Add an expense</h2>
		<form name="expensesform">
			<ul>
				<li>
					<label>Date</label>
					<input type="text" ng-required="true" ng-model="newExpense.date" ui-date="dateOptions" placeholder="dd/mm/yyyy" />
				</li>
				<li>
					<label>Amount</label>
					<input type="text" ng-required="true" ng-model="newExpense.amount" placeholder="00.00" />
				</li>
				<li>
					<label>Reason</label>
					<textarea ng-required="true" ng-model="newExpense.reason" placeholder="why oh why?"></textarea>
				</li>
				<li>
					<label></label>
					<button ng-click="saveExpense()">Save Expense</button> <button ng-click="clearExpense()">cancel</button>
				</li>
			</ul>
		</form>
		
		<h2>Submitted expenses</h2>
		
		<table>
			<tr>
				<th>Date</th>
				<th>Amount (inc. VAT)</th>
				<th>Reson</th>
			</tr>
			<tr ng-repeat="expense in expenses">
				<td>{{expense.date | date:'dd MMM yyyy'}}</td>
				<td>{{expense.amount | currency:"&pound;"}}</td>
				<td>{{expense.reason}}</td>
			</tr>
		</table>
	</body>
</html>
